<div id="<%= dom_id critica %>">
  <p>
    <strong>Comentário:</strong>
    <%= critica.comentario %>
  </p>

  <p hidden>
    <strong>Esperando aprovação!</strong>
    <%= critica.esta_aprovado %>
  </p>

  <p>
    <strong>Filme:</strong>
    <%= critica.Filme_id %>
  </p>

</div>
