<p style="color: green"><%= notice %></p>

<h1>Críticas</h1>

<div id="criticas">
  <% @criticas.each do |critica| %>
    <%= render critica %>
    <p>
      <%= link_to "Mostrar", critica %>
    </p>
  <% end %>
</div>

<%= link_to "Novo", new_critica_path %>
