<div id="<%= dom_id log %>">
  <p>
    <strong>Comentario:</strong>
    <%= log.comentario_id %>
  </p>

  <p>
    <strong>Criado em:</strong>
    <%= l log.created_at, format: :long %>
  </p>

  </div>
